body{
    font-family: 'Merriweather', serif;
    margin: 0;
    }
footer{
    text-align: center;
    color: rgb(89, 90, 12); 
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.display{
    padding: 20px;
    margin: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    text-align: justify;
}
.half-width{
    width: 50%;
    margin: 2%;
    padding-left: 10px;
    padding-right: 10px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(114, 155, 17), rgb(107, 107, 219));;
    padding: 10px 10px;
    border-radius: 2em;
    font-weight: 700;
}
#experience-1{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(81, 255, 0), blue);
    border-image-slice: 1;
}
#experience-2{
border-left: 10px solid;
border-image: linear-gradient(blue, aqua); 
border-image-slice: 1;
}
.bd{
   display: flex;
}
.box-shadow{
    background-color: aquamarine;
    padding: 30px;
    margin: 30px;
    box-shadow: 10px 10px 30px black;
    border-radius: 10px;
}
.box{
    width: 40%;
    text-align: justify;
    padding: 20px;
    margin: 30px 30px;
    background-color: rosybrown;
    box-shadow: 10px 13px 30px royalblue;
    border-radius: 50%;
}
.welcome{
    color: rgba(23, 13, 172, 0.801);
}
#rokshana{
    border: 20px solid;
    border-image: linear-gradient(rgb(155, 17, 141), rgb(61, 61, 105));
    border-image-slice: 30;
}
#lorem{
    border-left: 20px solid;
    border-right: 10px solid;
    border-image: linear-gradient(rgb(85, 112, 82), rgb(58, 58, 207));
    border-image-slice: 1;
}