body{
    font-family: 'Merriweather', serif;
    }
footer{
    text-align: center;
    color: rgb(89, 90, 12); 
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.bd{
   display: flex;
}
.box{
    width: 40%;
    text-align: justify;
    padding: 20px;
    margin: 30px 30px;
    background-color: rosybrown;
    box-shadow: 10px 13px 30px royalblue;
    border-radius: 50%;
}
.welcome{
    color: rgba(23, 13, 172, 0.801);
}
#rokshana{
    border: 20px solid;
    border-image: linear-gradient(rgb(155, 17, 141), rgb(61, 61, 105));
    border-image-slice: 30;
}
#lorem{
    border-left: 20px solid;
    border-right: 10px solid;
    border-image: linear-gradient(rgb(85, 112, 82), rgb(58, 58, 207));
    border-image-slice: 1;
}